
<!-- First Band (Slider) -->
<!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->

<div class="row">
    <div class="twelve columns">
        <div id="slider">
            <div class="orbit-slider"><img src="images/slider-img-01.jpg" /><h4>Test name1</h4><div>Test content1</div></div>
            <div class="orbit-slider"><img src="images/slider-img-02.jpg" /><h4>Test name2</h4><div>Test content2</div></div>
            <div class="orbit-slider"><img src="images/slider-img-03.jpg" /><h4>Test name3</h4><div>Test content3</div></div>

            <!--<img src="images/slider-img-02.jpg" />-->
            <!--<img src="images/slider-img-03.jpg" />-->
            <!--<img src="http://placehold.it/1000x400&text=[img 4]" />-->
        </div>


      <span class="orbit-caption" id="captionOne">Here is a caption...</span>
      <span class="orbit-caption" id="captionTwo">Here is a caption2...</span>
      <span class="orbit-caption" id="captionThree">Here is a caption3...</span>
        <hr />
    </div>
</div>


<!-- Three-up Content Blocks -->

<div class="row">

    <div class="four columns ultimosConflictos">
      <div class="panel">
        <h4>Ultimos Conflictos.</h4>
        <p>
         <ul class="listaResumidaConf">
            <% @ultimos1.each do |conflicto| %>
               <li><a href='/conflicto/<%= conflicto.id %>'><%= conflicto.asunto %></a></li>
            <% end %>
         </ul>
        </p>
      </div>
    </div>

    <div class="four columns ultimosConflictosRep">
      <div class="panel">
        <h4>Ultimos Conflictos Reportados.</h4>
        <p>
            <ul class="listaResumidaConf">
               <% @ultimos2.each do |conflicto| %>
                  <li><a href='/conflicto/<%= conflicto.id %>'><%= conflicto.asunto %></a></li>
               <% end %>
            </ul>
        </p>
      </div>
    </div>

    <div class="four columns">
      <div class="panel">
        <div class="row">
          <div class="twelve columns">
            <p>Si ves un conflicto social, rep&oacutertalo, ayuda a registrar la solicitud o reclamo que hacen los ciudadanos de tu regi&oacuten, porque todas nuestras voces cuentan.</p>
            <a href="/reportarConflicto" class="radius button right">Registrar conflicto</a>
          </div>
        </div>
      </div>
      <p>
        <a href="#" class="th"><img src="/images/america-banner.png" /></a><br />
      </p>

        <div class="panel">
            <h5>Qu&eacute; es un Conflicto ?</h5>
            <p>
              Un conflicto social será cuando transciende lo individual y proceda de la propia estructura de la sociedad.
            </p>
            <a href="#">Leer Mas &rarr;</a>
        </div>


        <!--<img src="http://placehold.it/400x300&text=[img]" />-->
        <!--<h4>This is a content section.</h4>-->
        <!--<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>-->
    </div>

</div>


<!-- Call to Action Panel -->
<div class="row">
    <div class="twelve columns">

        <div class="panel">
            <!--<h4>Get in touch!</h4>-->

            <div class="row">
                <div class="nine columns">
                    <!--<p>We'd love to hear from you, you attractive person you.</p>-->
                </div>
                <div class="three columns">
                    <!--<a href="#" class="radius button right">Contact Us</a>-->
                </div>
            </div>
        </div>

    </div>
</div>


	<!-- Included JS Files (Uncompressed) -->
	<script src="/js/foundation/jquery.js"></script>

	<script src="/js/foundation/jquery.cookie.js"></script>

	<script src="/js/foundation/jquery.event.move.js"></script>

	<script src="/js/foundation/jquery.event.swipe.js"></script>

	<script src="/js/foundation/jquery.foundation.accordion.js"></script>

	<script src="/js/foundation/jquery.foundation.alerts.js"></script>

	<script src="/js/foundation/jquery.foundation.buttons.js"></script>

	<script src="/js/foundation/jquery.foundation.clearing.js"></script>

	<script src="/js/foundation/jquery.foundation.forms.js"></script>

	<script src="/js/foundation/jquery.foundation.joyride.js"></script>

	<script src="/js/foundation/jquery.foundation.magellan.js"></script>

	<script src="/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>

	<script src="/js/foundation/jquery.foundation.navigation.js"></script>

	<script src="/js/foundation/jquery.foundation.orbit.js"></script>

	<script src="/js/foundation/jquery.foundation.reveal.js"></script>

	<script src="/js/foundation/jquery.foundation.tabs.js"></script>

	<script src="/js/foundation/jquery.foundation.tooltips.js"></script>

	<script src="/js/foundation/jquery.foundation.topbar.js"></script>

	<script src="/js/foundation/jquery.placeholder.js"></script>


  <!-- Application Javascript, safe to override -->
  <!--<script src="/js/foundation/app.js"></script>-->

    <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>

<!-- Put this above your </body> tag -->
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').orbit();
    });

</script>
